<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JankySwapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JankySwapper.Properties.Settings>
            <setting name="pakFiles" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value />
            </setting>
            <setting name="splashFiles" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Binaries\Win64\EasyAntiCheat\Launcher</value>
            </setting>
            <setting name="currentoffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetskin1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetskin2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetpick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetpickmesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetback" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetemote" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetlobby" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offseticons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_current" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="harley" serializeAs="String">
                <value>48000000</value>
            </setting>
            <setting name="offsetbodyS3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetheadS3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cid" serializeAs="String">
                <value>527000000</value>
            </setting>
            <setting name="d" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpinvalid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cpswaps" serializeAs="String">
                <value>30000000</value>
            </setting>
            <setting name="cpmaosearch" serializeAs="String">
                <value>00 00 43 50 5F 41 74 68 65 6E 61 5F 48 65 61 64 5F 4D 5F 52 65 62 69 74 68 53 6F 6C 64 69 65 72</value>
            </setting>
            <setting name="cpmao" serializeAs="String">
                <value>69725759</value>
            </setting>
            <setting name="cpmbosearch" serializeAs="String">
                <value>00 00 43 50 5F 41 74 68 65 6E 61 5F 48 65 61 64 5F 4D 5F 52 65 62 69 74 68 44 65 66 61 75 6C 74 42</value>
            </setting>
            <setting name="cpmbo" serializeAs="String">
                <value>69713554</value>
            </setting>
            <setting name="cpmcosearch" serializeAs="String">
                <value>00 00 43 50 5F 41 74 68 65 6E 61 5F 48 65 61 64 5F 4D 5F 52 65 62 69 74 68 44 65 66 61 75 6C 74 43</value>
            </setting>
            <setting name="cpmco" serializeAs="String">
                <value>69717632</value>
            </setting>
            <setting name="cpmdosearch" serializeAs="String">
                <value>00 00 43 50 5F 41 74 68 65 6E 61 5F 48 65 61 64 5F 4D 5F 52 65 62 69 74 68 44 65 66 61 75 6C 74 44</value>
            </setting>
            <setting name="cpmdo" serializeAs="String">
                <value>69721458</value>
            </setting>
            <setting name="cpfaosearch" serializeAs="String">
                <value>00 00 43 50 5F 48 65 61 64 5F 46 5F 52 65 62 69 72 74 68 44 65 66 61 75 6C 74 41 (pak 10)</value>
            </setting>
            <setting name="cpfao" serializeAs="String">
                <value>30901429</value>
            </setting>
            <setting name="cpfbosearch" serializeAs="String">
                <value>00 00 43 50 5F 48 65 61 64 5F 46 5F 52 65 62 69 72 74 68 44 65 66 61 75 6C 74 42</value>
            </setting>
            <setting name="cpfbo" serializeAs="String">
                <value>66768013</value>
            </setting>
            <setting name="cpfcosearch" serializeAs="String">
                <value>00 00 43 50 5F 48 65 61 64 5F 46 5F 52 65 62 69 72 74 68 44 65 66 61 75 6C 74 43</value>
            </setting>
            <setting name="cpfco" serializeAs="String">
                <value>66772182</value>
            </setting>
            <setting name="cpfdosearch" serializeAs="String">
                <value>00 00 43 50 5F 48 65 61 64 5F 46 5F 52 65 62 69 72 74 68 44 65 66 61 75 6C 74 44</value>
            </setting>
            <setting name="cpfdo" serializeAs="String">
                <value>66776199</value>
            </setting>
            <setting name="usernameSave" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordSave" serializeAs="String">
                <value />
            </setting>
            <setting name="credentialsSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ltevergreeninvalidsearch" serializeAs="String">
                <value>43 6C 61 73 73 00 74 77 78 91 21 00 00 00 43 50 5F 41 74 68 65 6E 61 5F 48 65 61 64 5F 4D 5F 4F 72 6E 61 6D 65 6E 74 53 6F 6C 64 69 65 72 (pak s9)</value>
            </setting>
            <setting name="ltinvalid" serializeAs="String">
                <value>60638773</value>
            </setting>
            <setting name="scipopmatsearch" serializeAs="String">
                <value>/Game/Characters/Player/Female/Medium/Heads/F_Med_Head_01/Materials/SciPop/F_MED_HIS_Ramirez_SciPop.F_MED_HIS_Ramirez_SciPop</value>
            </setting>
            <setting name="scipopo" serializeAs="String">
                <value>76000000</value>
            </setting>
            <setting name="HIDEvergreenSearch" serializeAs="String">
                <value>/Game/Athena/Heroes/Meshes/Bodies/CP_Athena_Body_M_OrnamentSoldier.CP_Athena_Body_M_OrnamentSoldier</value>
            </setting>
            <setting name="HIDEvergreenO" serializeAs="String">
                <value>78000000</value>
            </setting>
            <setting name="BlazeHead" serializeAs="String">
                <value>836000000</value>
            </setting>
            <setting name="BlazeBody" serializeAs="String">
                <value>522000000</value>
            </setting>
            <setting name="BladeHID" serializeAs="String">
                <value>836062078</value>
            </setting>
            <setting name="BlazeHIDSearch" serializeAs="String">
                <value>/Game/Athena/Heroes/Meshes/Bodies/CP_Athena_Body_F_RenegadeRaiderFire.CP_Athena_Body_F_RenegadeRaiderFire</value>
            </setting>
            <setting name="ltbody" serializeAs="String">
                <value>75232673</value>
            </setting>
            <setting name="offsethead2" serializeAs="String">
                <value>29825464</value>
            </setting>
            <setting name="offsethead2search" serializeAs="String">
                <value>29825464</value>
            </setting>
            <setting name="cidcal" serializeAs="String">
                <value>478000000</value>
            </setting>
            <setting name="magnus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GalaxyCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenegadeCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReconCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AerialCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cidback" serializeAs="String">
                <value>530000000</value>
            </setting>
            <setting name="BackupCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cidbackone" serializeAs="String">
                <value>486000000</value>
            </setting>
            <setting name="BambooCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackShieldCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CuddleBowCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CyberCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuckyCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MagnusCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlameCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GalaxyBBCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoloCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IllusionCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LigCID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="thing" serializeAs="String">
                <value>28295608</value>
            </setting>
            <setting name="HIDEvergreenO2" serializeAs="String">
                <value>56000000</value>
            </setting>
            <setting name="RoyalHat" serializeAs="String">
                <value>59000000</value>
            </setting>
            <setting name="ghoul" serializeAs="String">
                <value>58000000</value>
            </setting>
            <setting name="ghoulb" serializeAs="String">
                <value>74000000</value>
            </setting>
            <setting name="pickaxeid" serializeAs="String">
                <value>480000000</value>
            </setting>
        </JankySwapper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>